# Disallow everything

*

# Allow specific files

!.gitignore
!.gitmodules
!.gitattributes
!LICENSE
!CONTRIBUTING.md

# Allow file types (in subfolders) with a !

!**/
!*.m
!*.mlapp
!*.md
!*.png
!*.fig
!*.txt
!*.sh
!*.zef
!README

# Allow TeΧ files under documentation folder.

!documentation/**.tex
!documentation/documentation.pdf

# These are apparently not a part of the app itself, so keep ignoring them

profile
data
