# Disallow everything

*

# Allow specific files

!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!CONTRIBUTING.md
!LICENSE

# The following file types are allowed in all subfolders.

!**/

!*.md
!README

# Allow Matlab source files in specific folders.

!zeffiro_interface.m
!zeffiro_downloader.m
!zeffiro_setup.m
!+zefCore/**/*.m
!+examples/**/*.m
!+tests/**/*.m
!+utilities/**/*.m
!m/**/*.m
!plugins/**/*.m
!scripts/**/*.m
!+inverse/**
!+plugins/**/*.m
!+plugins/**/*.mlapp

# Allow PNG files in specific folders.

!data/media/*.png
!fig/**/*.png

# Allow fig files in specific folders.

!plugins/**/*.fig
!fig/**/*.fig

# Allow Matlab app designer files and their exported text equivalents in specific folders.

!mlapp/*.mlapp
!mlapp/*.m

!plugins/**/*.mlapp

# Allow electrode- and segmentation -related data in specific folders.

!data/electrodes/*.dat

!data/segmentations/**/*.asc
!data/segmentations/**/*.dat
!data/segmentations/**/*.m
!data/segmentations/**/*.mat
!data/segmentations/**/*.zef

!+utilities/**.zef

# Allow example .mat files in specific folders.

!data/examples/**/*.mat

# Allow STL files in specific folders.

!data/itokawa_model/*.stl

# Allow Zeffiro profile files in specific folders.

!profile/**/*.ini

# Allow CSV files in te data folder.

!data/**/*.csv

# Allow TeΧ and font files under documentation folder.

!documentation/**.tex
!documentation/documentation.pdf

!documentation/fonts/JuliaMono*.ttf
!documentation/fonts/Erewhon*.otf

# Allow GitHub CI -related things.

!.github/workflows/*.yml

# Allow submodules.

!external/CVX
!external/SDPT3
!external/SeDuMi
!external/SESAME
!external/fieldtrip
!external/OSQP
!external/spm12

# Disallow zef_start_config at the end, as it is supposed to be generated by zeffiro_setup.

m/zef_start_config.m
